{% extends 'base.html' %}

{% block title %}Edit Tag: {{tag.name}}{% endblock %}

{% block content %}
<h1>Edit tag: {{tag.name}}</h1>
<form method="POST">
    <div class="form-group">
        <label for="Name">Name</label>
         <input type="text" placeholder="Enter a name" name="name" class="form-control" required>
     </div>
    
    <a href="/tags/{{tag.id}}" class="btn btn-outline-secondary">Cancel</a>

    <button type="submit" class="btn btn-success">Edit</button>
</form>
{% endblock %}